.form-container {
    margin: 20px 0;
    text-align: center;
}
.form-container ,
.form-input-container,
input {
    width: 100%;
}

.form-container > form {
    display: flex;
    flex-flow: column;
    width: 70%;
    margin: 10px auto;
}


.form-container form input  {
    height: 50px;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
}

.form-container .form-input-container {
     margin-bottom: 20px;
}
span.error {
    margin: 10px;
    background-color: red;
}